<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker-->
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="lib/ionic/js/ionic.js"></script>
    <script src="lib/ionic/js/angular/angular.js"></script>
    <script src="lib/ionic/js/angular/angular-animate.js"></script>
    <script src="lib/ionic/js/angular/angular-sanitize.js"></script>
    <script src="lib/ionic/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <!-- add more libraries -->
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <!-- ionic/angularjs js -->
    <!--<script src="lib/ionic/js/ionic.bundle.js"></script>-->

    <!-- cordova script (this will be a 404 during development) 
    <script src="cordova.js"></script>
    -->

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="ionicApp">
    <ion-nav-view></ion-nav-view>

    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus enable-menu-with-back-views="false">

        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive">
              <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
              <a class="button button-icon button-clear ion-home" menu-toggle="left" href="#/event/home"></a>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>           
          </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="right">
          <ion-header-bar class="bar-assertive">
            <h1 class="title">Configurações</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a href="#/event/scoutInit" class="item" menu-close>Iniciar Scout Jogo</a>
              <a href="#/event/attendees" class="item" menu-close>Outras Configurações</a>
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Scout Soccer Coach">
        <ion-content class="padding">
          <p class="text-center">Starting app for soccer professional to manage trainings and improve your team.</p>          
          <img class="centralized initImg" src="img/init.jpg">
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/tablePlayers.html" type="text/ng-template">
      <ion-view view-title="Adicionar Jogadores para a partida">
        <ion-content>
        <form class="list" name="addPlayerForm" novalidate>
            <div class="item item-divider  text-center">Adicionar Jogador</div>
            <label class="item item-input">
              <input type="text" placeholder="Nome" ng-model="player.name" required>
            </label>
            <label class = "item item-input item-select">
              <div class = "input-label">Posição</div>
              <select ng-model="player.position" required>
                <option ng-repeat="position in positions" value="{{position.name}}">{{position.name}}</option>
              </select>
            </label>
            <label class = "item item-input item-select">
              <div class = "input-label">Número</div>
              <select ng-model="player.number" required>
                <option ng-repeat="num in numbers | filterPosition" value="{{num}}">{{num}}</option>
              </select>
            </label>
            <ion-toggle ng-model="player.start">
              Começa Jogo
            </ion-toggle>
            <div class="padding">
              <button class="button button-block button-calm" ng-disabled="addPlayerForm.$invalid" ng-click="addPlayer()" title="Adicionar Jogador">Adicionar</button>
            </div>
          </form>
          <div class="">
            <ion-scroll scrollY="true">
              <div class="row header" >
                <div class="col text-center" ng-repeat="columnName in tableHeader">{{columnName}}&nbsp;</div>
                <div class="col"></div>
              </div>
              <div class="row rowBorderBottom" ng-repeat="player in players">
                <div class="col text-center">{{player.name}}&nbsp;</div>
                <div class="col text-center">{{player.position}}&nbsp;</div>
                <div class="col text-center">{{player.number}}&nbsp;</div>
                <div class="col text-center">{{player.start | filterStartGame}}&nbsp;</div>
                <div class="col">
                  <button class="button button-small" ng-click="editPlayer(player)" title="Editar Jogador"><i class="ion-edit iconEdit"></i></button>
                  <button class="button button-small" ng-click="removePlayer(player)" title="Remover Jogador"><i class="ion-close-circled iconRemove"></i></button>
                </div>
              </div> 
              <h5 ng-show="players.length <= 0" class="displayAlert text-center">Não existe nenhum jogador para começar a partida!</h5>             
            </ion-scroll>
          </div>
          <br/>
          <form>
            <div class="padding">
              <a class=" button button-block button-balanced" href="#/event/scout" ng-click="saveToMatch()" title="Iniciar Scout" >Começar Scout</a><!-- ng-show="players.length > 10" ng-click="saveToMatch()" -->
            </div>
          </form>  
        </ion-content>        
      </ion-view>
    </script>

    <script id="templates/scoutInit.html" type="text/ng-template">
      <ion-view view-title="Iniciar Partida">
        <ion-content>
          <form class="list" name="initMatch" ng-show="showForm" novalidate>
            <div class="item item-divider">
              Informações iniciais da partida
            </div>
            <div class="list">
              <label class="item item-input">
              <input type="text" ng-model="match.team" placeholder="Equipe" required>
              </label>
              <label class="item item-input">
              <input type="text" ng-model="match.opponent" placeholder="Adversário"required>
              </label>
              <label class="item item-input">
              <input type="text" ng-model="match.category" placeholder="Categoria" required>
              </label>
              <label class="item item-input">
              <input type="text" ng-model="match.championship" placeholder="Competição" required>
              </label>
              <label class="item item-input">
              <input type="text" ng-model="match.place" placeholder="Local" required>
              </label>
              <br/>              
              <div class="padding">
                <a class="button button-block button-balanced" href="#/event/tablePlayers" ng-disabled="initMatch.$invalid" ng-click="submit()">Salvar</a>
              </div>
            </div>
            </form>      
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/scout.html" type="text/ng-template">
      <ion-view view-title="Scout Jogo">
        <ion-content>
          <div >
            <div class="centralized padding clockwatch">  
              <div ng-controller="StopWatchCtrl">
                <div class="timer">
                  <div >
                    <label  ng-class="{'timeChosen': !timeChoose}" >1º T</label>
                    <label title="Escolher o tempo" class="toggle" >
                      <input type="checkbox"  ng-model="timeChoose" ng-disabled="!showStartButton == true">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>                
                    <label  ng-class="{'timeChosen': timeChoose}">2º T</label>
                  </div>
                  <div>
                    <label class="clockwatchTimer" >{{timerWithTimeout | mmss}}</label>
                    <button class="button button-calm icon ion-play customIconClockWatch" title="Clique aqui para começar o Scout" ng-click="startTimerWithTimeout()" ng-show="showStartButton"></button>
                    <button class="button button-assertive icon ion-stop customIconClockWatch" title="Clique aqui para terminar o tempo" ng-click="resetTimerWithTimeout()" ng-show="!showStartButton"></button>
                  </div> 
                </div>                
              </div>              
            </div>
            <div class=" centralized soccerField imgField">
                <table class="scoutTable" border="1"><!--ng-show="displayTable"-->
                  <tbody>
                    <tr ng-repeat="row in rows" ><td class="cellField" ng-repeat="column in columns" ng-click="openOptions({{row}},{{column}},$event)"></td></tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div>
            <div class=" centralized soccerField imgField">
              <div class="divTable">
                <div class="divTableBody">
                  <div class="divTableRow" ng-repeat="row in rows">
                    <div class="divTableCell" ng-repeat="column in columns">
                      <div class="statistic" ng-class="getClass($parent.$index,$index)"  ng-click="showStatistics($parent.$index,$index,$event)">
                          {{values | filterStatistics:$parent.$index:$index}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <!--<table class="scoutTable tableFixed">ng-show="displayTable"
                  <tbody>
                    <tr ng-repeat="row in rows" >
                      <td class="cellField" ng-repeat="column in columns" >
                        <div ng-class="getClass($parent.$index,$index)"  ng-click="showStatistics($parent.$index,$index,$event)">
                          {{values | filterStatistics:$parent.$index:$index}}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>-->
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

  <script id = "templates/selectPlayers.html" type = "text/ng-template">
    <ion-popover-view style="width:150px">
        <ion-header-bar>
          <h5 class = "title">Jogador</h5>
        </ion-header-bar>
        <ion-content>
          <div class="list">          
              <button class="button button-full item" ng-repeat="player in players | filterPlayer" ng-click="selectPlayer($index,$event)">
                  {{player.name}}
              </button>          
          </div>          
        </ion-content>		
    </ion-popover-view>
  </script>

  <script id = "templates/selectActions.html" type = "text/ng-template">
   <ion-popover-view style="width:150px">
	    <ion-header-bar>
         <h5 class = "title">Ação</h5>
      </ion-header-bar>
		  <ion-content>
        <div class="list">          
            <button class="button button-full item" ng-repeat="action in actions" ng-click="selectAction({{action}},$event)">
                {{action.name}}
            </button>          
        </div>        
      </ion-content>		
   </ion-popover-view>
  </script>

  <script id = "templates/showStatistics.html" type = "text/ng-template">
    <ion-popover-view style="width:200px">
        <ion-header-bar>
          <h5 class = "title">Estatísticas do Jogo</h5>
        </ion-header-bar>
        <ion-content>
          <!--<ion-scroll scrollY="true">-->
            <div class="row header" >
                <div class="col text-center" >Jogada&nbsp;</div>
                <div class="col text-center" >Quantidade&nbsp;</div>
                <div class="col"></div>
            </div>
            <div class="row rowBorderBottom" ng-repeat="play in plays">
                <div class="col text-center">{{play.name}}&nbsp;</div>
                <div class="col text-center">{{play.count}}&nbsp;</div>
                <div class="col"></div>
            </div>            
          <!--</ion-scroll>-->
          <div class="list">          
            <button class="button button-full button-balanced item" ng-click="closePopoverStat()">
                Fechar
            </button>          
        </div>        
        </ion-content>		
    </ion-popover-view>
  </script>

  </body>
</html>
